<p>
	&nbsp;Alert :: You have a new internet booking!
</p>
<p>
	You just received a new online booking! Isn't it nice to be loved?
	<br />
	We have attached the booking information here for your convenience.
	<br />
	<br />
	Booking Number: {{ data.campaignNo}}
	<br />
	Dated Created:&nbsp;
	<strong>
		 {{ data.created_at}}
	</strong>
	<br />
	Number of advertising spots :&nbsp;
	<strong>
		 1
	</strong>
</p>
<p>
	Advertising Spots&nbsp;
	<strong>
		<em>
			1
		</em>
	</strong>
	<br />
	<strong>
		____________________________________________________________
	</strong>
	<br />
	Company Name: Example Company
	<br />
	Company Email:
	<strong>
		<a href="mailto:exmple@example.com">
			exmple@example.com
		</a>
	</strong>
	<br />
	Advertising Spot :
	<strong>
		 Herald -Full Page Colour
	</strong>
	<br />
	Date and Time:
	<strong>
		 Thursday, April 12 2018 09:30:00
	</strong>
	<br />
	Comments:
	<strong>
		 Example Comment :)
	</strong>
	<br />
	<br />
	<strong>
		____________________________________________________________
	</strong>
</p>
<p>
	<a href="https://s3.amazonaws.com/mediabox-adverts//resources/0bk8VUNG0NripdQ1p6j400IR.jpg" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://s3.amazonaws.com/mediabox-adverts//resources/0bk8VUNG0NripdQ1p6j400IR.jpg&amp;source=gmail&amp;ust=1524342069288000&amp;usg=AFQjCNHg_JUu7lviVMdu7UDoJAYIZPOcPQ">
		Follow this link to preview the advert
	</a>
</p>
<p>
	<a href="http://adspaces.co.zw/campaign" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://adspaces.co.zw/campaign&amp;source=gmail&amp;ust=1524342069288000&amp;usg=AFQjCNF5NIW5bfCwt2jJ24i2816QFRM49A">
		Follow this link to view the booking
	</a>
	&nbsp;
	<br />
	<br />
	Thank you,
	<br />
	Your Adspace System.
</p>
<p>
	<br />
	<strong>
		Adspace PVT Ltd.
	</strong>
	&nbsp;
	<br />
	<a href="http://www.adspaces.co.zw/" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.adspaces.co.zw&amp;source=gmail&amp;ust=1524342069288000&amp;usg=AFQjCNEQKovdApGtxoo8R3HxlcsAPM3qNw">
		www.adspaces.co.zw
	</a>
	<br />
	<strong>
		Adspaces software - leading edge strategies to increase&nbsp;Efficiency, Work Flow and Profitability&nbsp;designed specifically for Advertising companies based companies around the world.
	</strong>
</p>
<p>
	Try to solve the new Formula Cube! It works exactly like a Rubik's Cube but it is only $2, from China. Learn to solve it with the tutorial on rubiksplace.com or use the
	<a href="https://www.grubiks.com/solvers/rubiks-cube-3x3x3/">
		solver to calculate
	</a>
	 the solution in a few steps.
</p>
