<navbar leftmenu="true"></navbar>
<div class="cars-section" >

	<div  ng-if="!$stateParams.slug">
	    <div class="cars-section">
			<div class="container">
		  <div class="row">
			<div class="col-md-12 site-heading ">
					<h2>&nbsp;&nbsp;Where do you want to advertise</h2>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discover and buy advertising space  </p>
					<div class="divider"></div>
		    </div>
		  </div>
		  <div class="row">
			  <div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<a href="/Category/banner/582597436bf2000d54ac92fd"><ng-md-icon  icon="language" size="110" md-menu-align-target></ng-md-icon></a>
					</div>
					<div class="used-cars-title">
						<h3>Digital</h3>
					   
					</div>
					  <button type="button" onclick="window.location.href='/Category/banner/582597436bf2000d54ac92fd'" class="btn site-btn">Explore</button>
				</div>
			  </div> <!-- End Col -->
					<div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<a href="/Category/magazines/582597646bf2000d54ac9300"><ng-md-icon icon="my_library_books" size="110" md-menu-align-target></ng-md-icon></a>
					</div>
					<div class="used-cars-title">
						<h3>Magazine</h3>
					   
					</div>
					  <button type="button" class="btn site-btn" onclick="window.location.href='/Category/magazines/582597646bf2000d54ac9300'">Explore</button>
				</div>
			  </div> <!-- End Col -->

			  <div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<a href="/Category/newspapers/5825976d6bf2000d54ac9301"><ng-md-icon icon="chrome_reader_mode" size="110" md-menu-align-target></ng-md-icon></a>
					</div>
					<div class="used-cars-title">
						<h3>Newspaper</h3>
						
					</div>
					  <button type="button"  onclick="window.location.href='/Category/newspapers/5825976d6bf2000d54ac9301'" class="btn site-btn">Explore</button>
				</div>
			  </div> <!-- End Col -->

			  <div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<a href="/Category/cinema/582597976bf2000d54ac9304"><ng-md-icon icon="movie_creation" size="110" md-menu-align-target></ng-md-icon></a>
					</div>
					<div class="used-cars-title">
						<h3>Cinema</h3>
						
					</div>
					  <button type="button"  onclick="window.location.href='Category/cinema/582597976bf2000d54ac9304'" class="btn site-btn">Explore</button>
				</div>
			  </div> <!-- End Col -->
			  
			  <div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<a href="/Category/radio/5825972f6bf2000d54ac92fb"><ng-md-icon icon="radio" size="110" md-menu-align-target></ng-md-icon></a>
					</div>
					<div class="used-cars-title">
						<h3>Radio</h3>
						
					</div>
					  <button type="button"  onclick="window.location.href='Category/radio/5825972f6bf2000d54ac92fb'" class="btn site-btn">Explore</button>
				</div>
			  </div> <!-- End Col -->
					<div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<a href="/Category/television/582597286bf2000d54ac92fa"><ng-md-icon icon="tv" size="110" md-menu-align-target></ng-md-icon></a>
					</div>
					<div class="used-cars-title">
						<h3>Television</h3>
						
					</div>
					  <button type="button"  onclick="window.location.href='Category/television/582597286bf2000d54ac92fa'" class="btn site-btn">Explore</button>
				</div>
			  </div> <!-- End Col -->

			  <div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<a href="/Category/email-marketing/582597e46bf2000d54ac9307"><ng-md-icon icon="email" size="110" md-menu-align-target></ng-md-icon></a>
					</div>
					<div class="used-cars-title">
						<h3>Email Marketing</h3>
					   
					</div>
					  <button type="button"  onclick="window.location.href='Category/email-marketing/582597e46bf2000d54ac9307'" class="btn site-btn">Explore</button>
				</div>
			  </div> <!-- End Col -->

			  <div class="col-sm-6 col-md-3 text-center">
				<div class="used-cars-box">
					<div class="used-cars-img">
						<a href="/Category/billboards/582596ed6bf2000d54ac92f6"><ng-md-icon icon="chrome_reader_mode" size="110" md-menu-align-target></ng-md-icon></a>
					</div>
					<div class="used-cars-title">
						<h3>Billboard</h3>
						
					</div>
					  <button type="button"  onclick="window.location.href='Category/billboards/582596ed6bf2000d54ac92f6'"  class="btn site-btn">Explore</button>
				</div>
			  </div> <!-- End Col -->


					
		  
				  </div>
		</div>
		</div>
	</div>
	
	<div class="news-area" ng-if="!$stateParams.slug">
    <div class="container">
        <div class="row">
          <div class="col-md-12 site-heading ">
            <h2>Top Viewed Media</h2>           
            <div class="divider"></div>
          </div>
       </div>
      <div class="row">
             
              <div style="margin-top: 10px" infinite-scroll='main.scroll()'  infinite-scroll-distance='1' layout-align="center center">
                <div dw-loading="products" dw-loading-options="{text: ''}"></div>
                
					
					<div class="row" layout="row" layout-wrap layout-align="start start" >
						  <div class="col-md-3" ng-repeat="product in main.products.items | limitTo:4">
							 <div class="news-box" style="height: 300px">
							   <div class="img-logo" style="margin: 5px">
                                <center>
                                    <img ng-click="main.gotoDetail(product)" width="150px" height="90px" data-ng-src="data:image/png;base64,{{product.logo[0].base64}}" data-err-src="images/png/avatar.png" />
                                </center>
                            </div>
                            <div class="text text-center" style="margin-top: 50px;height: 250px">
                                <h5>{{product.name}}</h5></a>
                                <br><a ng-href="http://{{product.website}}"> {{product.website}}</a>
                                <div >
                                    <ol class="rounded-list">
                                        <li ng-repeat="f in product.stats |limitTo :2"><a href="#">{{f.key}} : {{f.val}}</a></li>
                                    </ol>
                                </div>
								<button ng-click="main.gotoDetail(product)" type="button" class="btn btn-sm site-btn">Explore</button>
                            </div>
							  
							 </div>
						  </div>
              
             
          
                    </div>
               
            </div>
              
          
      </div>
    </div>
</div>
    <div layout="row" ng-if="$stateParams.slug" class="container">
	    
        <div ng-include="'app/main/filter-menu.html'" ></div>
        <!--<md-content flex layout="column">-->
        <section layout="column" layout-fill flex >
            <div class="sort-products md-whiteframe-z2">
                <div class="products-list-meta" ng-if="main.$mdMedia('gt-md')" flex>
                    Showing {{main.products.items.length}} products of {{main.products.count}} in: {{vm.Settings.currency.symbol}}<strong>{{main.priceSlider.min}}</strong> &nbsp;-&nbsp; {{vm.Settings.currency.symbol}}<strong>{{main.priceSlider.max}}</strong>
                </div>
                <section layout="row" layout-align="center center">
                    <div>Sort: &nbsp;</div>
                    <md-button class="groupX left" ng-click="main.sortNow('variants.price')">{{main.Settings.currency.symbol}}
                        <ng-md-icon icon="arrow_downward" style="fill:#888"></ng-md-icon>
                    </md-button>
                    <md-button class="groupX middle" ng-click="main.sortNow('-variants.price')">{{main.Settings.currency.symbol}}
                        <ng-md-icon icon="arrow_upwards" style="fill:#888"></ng-md-icon>
                    </md-button>
                    <md-button class="groupX middle" ng-click="main.sortNow('name')">A-Z
                        <ng-md-icon icon="arrow_downward" style="fill:#888"></ng-md-icon>
                    </md-button>
                    <md-button class="groupX right" ng-click="main.sortNow('-name')">Z-A
                        <ng-md-icon icon="arrow_upwards" style="fill:#888"></ng-md-icon>
                    </md-button>
                </section>
            </div>
            <div layout="row">
                <div ng-repeat="b in main.fl.brands">
                    <md-button class="md-raised" ng-click="main.removeBrand(b);" aria-label="Remove Brand Filter">
                        <ng-md-icon icon="verified_user" md-menu-align-target></ng-md-icon>
                        {{b.name}}
                        <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
                    </md-button>
                </div>
                <md-button ng-show="main.fl.categories.length > 0" class="md-raised">
                    <ng-md-icon icon="subject" md-menu-align-target></ng-md-icon>
                    {{main.fl.categories[0].name}}
                </md-button>
                <div ng-repeat="(k,features) in main.fl.features">
                    <md-button ng-show="features" ng-repeat="f in features" class="md-raised" ng-click="main.removeFeatures(features,k,f);" aria-label="Remove {{f}} Filter">
                        <ng-md-icon icon="format_shapes" md-menu-align-target></ng-md-icon>
                        {{f}}
                        <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
                    </md-button>
                </div>
            </div>
            <div style="margin-top: 10px" infinite-scroll='main.scroll()' infinite-scroll-disabled='main.products.busy' infinite-scroll-distance='1' layout-align="center center">
                <div dw-loading="products" dw-loading-options="{text: ''}"></div>
                
					
					<div class="row" layout="row" layout-wrap layout-align="start start" >
						  <div class="col-md-4" ng-repeat="product in main.products.items">
							 <div class="news-box" style="height: 300px">
							   <div class="img-logo" style="margin: 5px">
                                <center>
                                    <img ng-click="main.gotoDetail(product)" width="150px" height="90px" data-ng-src="data:image/png;base64,{{product.logo[0].base64}}" data-err-src="images/png/avatar.png" />
                                </center>
                            </div>
                            <div class="text text-center" style="margin-top: 50px;height: 250px">
                                <h5>{{product.name}}</h5></a>
                                <br><a ng-href="http://{{product.website}}"> {{product.website}}</a>
                                <div >
                                    <ol class="rounded-list">
                                        <li ng-repeat="f in product.stats |limitTo :2"><a href="#">{{f.key}} : {{f.val}}</a></li>
                                    </ol>
                                </div>
								<button ng-click="main.gotoDetail(product)" type="button" class="btn btn-sm site-btn">Explore</button>
                            </div>
							  
							 </div>
						  </div>
              
             
          
                    </div>
               
            </div>
        </section>
        <!--</md-content>-->
    </div>
</div>
</div>
<footer></footer>
